* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Carrito {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.ElCover {
  width: 156px;
  height: 156px;
}

.Borrar {
  margin-left: 20px;
  padding: 3px;
  color: white;
  background-color: red;
  border-radius: 3px;
}

.Botones {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  margin-right: 172vh;
  margin-bottom: 10vh;
}

.Botones button {
  margin-top: 10px;
}

.SinCarrito {
  margin-top: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SinCarrito h5 {
  margin-top: 10px;
  font-weight: 600;
  color: black;
}

.elForm {
  margin: 10vh;
  display: flex;
  justify-content: center;
}

.compra {
  margin-top: 36vh;
}
