* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Carrito {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.ElCover {
  width: 156px;
  height: 156px;
}

.Borrar {
  margin-left: 20px;
  padding: 3px;
  color: white;
  background-color: red;
  border-radius: 3px;
}

.Botones {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  margin-right: 172vh;
  margin-bottom: 10vh;
}

.Botones button {
  margin-top: 10px;
}

.SinCarrito {
  margin-top: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SinCarrito h5 {
  margin-top: 10px;
  font-weight: 600;
  color: black;
}

/* .laTabla {
  padding-bottom: 10vh;
}

.table {
  display: flex;
  justify-content: space-evenly;
}

thead {
  margin: 3rem;
}

tr {
  display: flex;
}

th {
  margin: 7vh;
}

tbody {
  display: flex;
}

.TableData {
  display: flex;
  flex-direction: row;
}

.Total {
  display: flex;
  justify-content: space-evenly;
  margin: 3rem;
} */

/* p {
  margin: 5vh;
}

.BotonEliminar {
  display: flex;
  margin: auto;
}

.VaciarCarrito {
  padding: 2vh;
} */
