.navBar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90px;
  background-color: rgb(27, 27, 33);
}

.navBar-container h2 {
  color: white;
  margin-left: 9rem;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
}

li a {
  margin-left: 5px;
  margin-right: 15px;
  text-decoration: none;
  color: white;
}

li a svg {
  margin-right: 1rem;
}
