.navBar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90px;
  background-color: white;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

li {
  margin-left: 10px;
  margin-right: 10px;
}
